$color-darkest-blue: #2c3f48;
$color-dark-blue: #00597a;
$color-blue: #007db3;
$color-light-blue: #d0dde0;
$color-lightest-blue: #ecf5f7;
$color-darkest-gray: #404546;
$color-dark-gray: #595f60;
$color-gray: #9da8af;
$color-light-gray: #e2e2e2;
$color-lightest-gray: #f4f4f4;
$color-orange: #f39200;
$color-white: #fff;

// Extra colors (currently used on stad.gent drupal 7 => to be standardized)
$color-white-blue: #c2e2f0;
$color-orange-light: #ffa927;
$color-orange-lighter: #ffbd5a;
