<div class="form-item">
  <div class="form-label">
    {% include '@label' %}
  </div>
  <div class="form-columns">
    <div class="form-item-column">
      {% include '@field-description' %}
    </div>
    <div class="form-item-column">
      {% include '@input-tel' %}
      {% include '@description' %}
    </div>
  </div>
</div>
