{% include '@header' %}
{% include '@breadcrumbs' %}

<div class="container section--default">
  <div class="content-container {{ section }}">
    <h1>Blocks overview</h1>

    <div class="container">
      <h2>Disclaimer block</h2>
      {% include '@disclaimer-block' %}
    </div>

    <div class="container">
      <h2>Disclaimer block</h2>
      {% include '@post-address-block' %}
    </div>

    <div class="container">
      <h2>Disclaimer block</h2>
      {% include '@social-media-block' %}
    </div>

  </div>
</div>
