input[type='text'],
input[type='search'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='time'],
input[type='email'],
input[type='url'],
textarea,
select {
  display: block;
  width: 100%;
  height: 2.4rem;
  margin: 0 0 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: $radius-1;
  font-size: 1rem;
  line-height: 1.5em;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &.inline {
    @include btn-inlineblock();
  }
}

input[type='text'],
input[type='search'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='time'],
input[type='email'],
input[type='url'],
textarea {
  padding: .4rem .7rem;
}

input[type='file'] {
  margin: 0 0 1rem;
}

textarea {
  min-height: 7.2rem;
}

// Since padding doesn't work whit appearance on menulist we need to make use of height and text-indent.
select {
  height: 2.4rem;
  text-indent: .3rem;

  &[multiple] {
    height: auto;
  }

  option {
    text-indent: .6rem;
  }

  optgroup {
    font-weight: bold;
  }
}

label {
  display: block;
  margin: 0 0 .5rem;
  font-size: 1rem;
  font-weight: bold;

  .label-optional {
    font-size: .8rem;
    font-weight: normal;
  }
}

input + .description {
  margin: -1rem 0 1rem;
}

// Radios and checkboxes shouldn't start on a new line.
input[type='radio'],
input[type='checkbox'] {
  outline: none;

  + label {
    display: inline-block;
    margin: 0 0 .5rem;
  }
}
