<div class="form-item">
    <label for="textfield">Textfield <span class="label-optional">(optioneel)</span></label>
    <input type="text" name="textfield" id="textfield" placeholder="placeholder" />
    <div class="description">Dit is een leuke beschrijving bij het veld.</div>
</div>


<div class="form-item">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="placeholder" />
    <div class="description">
        <p> Ook complexere beschrijvingen moeten mogelijk zijn.</p>
        <ul>
            <li>Met een lijstje bijvoorbeeld.</li>
            <li>Mooi toch?</li>
        </ul>
    </div>
</div>

<div class="form-item">
    <label for="date">Date</label>
    <input type="date" name="date" id="date" placeholder="placeholder" />
</div>

<div class="form-item">
    <label for="datetime">Datetime</label>
    <input type="datetime" name="datetime" id="datetime" placeholder="placeholder" />
</div>

<div class="form-item">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="placeholder" class="inline" />
</div>

<div class="form-item">
    <label for="url">Url</label>
    <input type="url" name="url" id="url" placeholder="placeholder" />
</div>

<div class="form-item">
    <label for="file">File</label>
    <input type="file" name="File" id="file" placeholder="placeholder" />
</div>

<div class="form-item">
    <label for="textarea">Textarea</label>
    <textarea name="textarea" id="textarea"></textarea>
</div>

<div class="fieldset-wrapper">
    <div class="form-item">
        <input type="checkbox" name="checkbox" id="checkbox1" />
        <label for="checkbox1">Checkbox option 1</label>
    </div>
    <div class="form-item">
        <input type="checkbox" name="checkbox" id="checkbox2" />
        <label for="checkbox2">Checkbox option 2</label>
    </div>
</div>

<div class="fieldset-wrapper">
    <div class="form-item">
        <input type="radio" name="radio" id="radio1" />
        <label for="radio1">Radio option 1</label>
    </div>
    <div class="form-item">
        <input type="radio" name="radio" id="radio2" />
        <label for="radio2">Radio option 2</label>
    </div>
</div>


<div class="form-item">
    <label for="selectfield">Select</label>
    <select name="selectfield" id="selectfield">
        <option>Option 1</option>
        <option>Option 2</option>
        <optgroup label="Option group">
            <option>Option 3</option>
            <option>Option 4</option>
        </optgroup>
    </select>
</div>

<div class="form-item">
    <label for="multiselect">Multiselect</label>
    <select name="selectfield" multiple="multiple" id="multiselect">
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
        <option>Option 4</option>
        <option>Option 5</option>
        <option>Option 6</option>
        <option>Option 7</option>
    </select>
</div>
