<div class="row">
  <div class="col-tablet-3">
    <div class="dg-block-post-address island">
      <h3>Postadres</h3>
      <p>
      <span>Stad Gent</span><br>
      <span itemprop="streetAddress"> Botermarkt 1</span><br>
      <span itemprop="addressLocality">9000 Gent</span>
      </p>
    </div>
  </div>
</div>