.dg-default-block {
  h2 {
    font-size: 1.94872rem;
  }

  li {
    padding: .2rem 0;
  }

  .telephone {
    &::before {
      @extend %icon-base-css;
      @extend %icon-phone;
      padding-right: .5rem;
    }
  }

  .e-mail {
    &::before {
      @extend %icon-base-css;
      @extend %icon-email;
      padding-right: .5rem;
    }
  }

  .link {
    &::before {
      @extend %icon-base-css;
      @extend %icon-link;
      padding-right: .5rem;
    }
  }
}

