<div class="island dg-default-block section--accent">
  <h2>
        Gentinfo
  </h2>
  <ul class="no-style">
    <li>
      <a class="telephone" href="tel:+3288888888">08 888 88 88 - ma -za van 8-19u</a>
    </li>
    <li>
      <a class="e-mail" href="mailto:gentinfo@stad.gent">gentinfo@stad.gent</a>
    </li>
    <li>
      <a class="link" href="">Contactformulier</a>
    </li>
    <li>
      <a class="btn btn--medium btn--inverse textballoon">Online Chat</a>
    </li>
  </ul>
</div>

