// Styleguide general settings.
$styleguide-dir: '../styleguide' !default;

// Styleguide colors.
$color-darkest-blue: #2c3f48 !default;
$color-dark-blue: #00597a !default;
$color-blue: #007db3 !default;
$color-light-blue: #d0dde0 !default;
$color-lightest-blue: #ecf5f7 !default;
$color-darkest-gray: #404546 !default;
$color-dark-gray: #595f60 !default;
$color-gray: #9da8af !default;
$color-light-gray: #e2e2e2 !default;
$color-lightest-gray: #f4f4f4 !default;
$color-medium-lighter-gray: #d5dadd !default;
$color-orange: #f39200 !default;
$color-white: #fff !default;
$color-green: #00a275 !default;
$color-red: #ce0000 !default;

// Extra colors (currently used on stad.gent drupal 7 => to be standardized)
// @TODO: Refactor?
$color-white-blue: #c2e2f0 !default;
$color-orange-light: #ffa927 !default;
$color-orange-lighter: #ffbd5a !default;

// Breakpoints for fonts.
$bp-tablet-fonts: 640px !default;
$bp-desktop-fonts: 1360px !default;

// Visual breakpoints.
$bp-tablet: 640px !default;
$bp-desktop: 960px !default;

// Font settings.
$default-font-family: 'Source Sans Pro', arial, sans-serif !default;
$default-font-weight: 400 !default;
$default-font-size: 16px !default; //px
$default-line-height: 1.4em !default; //em
$primary-font-family: $default-font-family !default;
$primary-font-weight: $default-font-weight !default;
$primary-font-size: $default-font-size !default; //px
$primary-line-height: $default-line-height !default; //em
$secondary-font-family: 'expresswayextrabold', sans-serif !default;

$bg-outside-container: $color-lightest-gray !default;
$border-outside-container: 1px solid $color-light-gray !default;
$default-text-color: $color-dark-gray !default;

// Grid settings
$grid-columns: 12 !default;
$gutter-width: 20px !default;

// Max content width.
$bp-max-content: 1440px !default;

// Max viewport.
$bp-container: 1600px !default;

// Border radius.
$radius-0: 0 !default;
$radius-1: 8px !default;
$radius-2: 10px !default;
$radius-3: 18px !default;
$radius-4: 30px !default;

// Breadcrumb settings.
$bg-hover-breadcrumb: $color-lightest-blue !default;

//
// Section dependent variables!
//
// These variables can and must be set, but might get overridden when used by a
// component that is within a section!
//

//
// ATOM SETTINGS.
//

// Heading 1 settings.
$heading-1-font-family: $secondary-font-family !default;

// Heading 2 settings.
$heading-2-font-family: $default-font-family !default;

// Heading 3 settings.
$heading-3-font-family: $default-font-family !default;

// Heading 4 settings.
$heading-4-font-family: $default-font-family !default;

// Heading 5 settings.
$heading-5-font-family: $default-font-family !default;

// Heading 6 settings.
$heading-6-font-family: $default-font-family !default;

// Mobile menu
$hamburger-menu-width: 320px;
$hamburger-menu-transition: left.5s cubic-bezier(0, 1, .5, 1);
$hamburger-menu-shadow: 0 1px 16.5px 0 rgba(0, 0, 0, .5);
$hamburger-menu-overlay-color: rgba(44, 63, 72, .6);
$hamburger-menu-bg-color: $color-darkest-blue;

$hamburger-menu-link-color: $color-white;
$hamburger-menu-link-color-active: $color-white;
$hamburger-menu-link-color-hover: $color-white;

$hamburger-menu-link-border-color: darken($color-darkest-blue, 2);
$hamburger-menu-link-border-color-active: $color-dark-blue;
$hamburger-menu-link-border-color-hover: darken($color-darkest-blue, 2);

$hamburger-menu-link-bg-color: transparent;
$hamburger-menu-link-bg-color-active: $color-dark-blue;
$hamburger-menu-link-bg-color-hover: darken($color-darkest-blue, 2);

//
// MOLECULE SETTINGS.
//

// CTA links settings.
$cta-link-color: $color-blue !default;
$cta-link-color-hover: $color-blue !default;
$cta-link-background-color: $color-lightest-blue !default;
$cta-link-background-color-hover: $color-lightest-gray !default;
$cta-link-border-color: $color-light-gray !default;

$cta-link-icon-background-color: $color-blue !default;
$cta-link-icon-color: $color-white !default;

$cta-link-title-color: $color-darkest-gray !default;

// Message settings.
$status-message: (
  'info': $color-blue ,
  'error': $color-red,
  'success': $color-green,
  'warning': $color-orange,
);

// Map settings.
$map-border-radius: $radius-1 !default;

//
// THEMIFY SETTINGS.
//
$themes: (
  'default': (
    'section-bg-color': $color-white,
    'section-text-color': $color-dark-gray,

    'heading-1-color': $color-darkest-blue,
    'heading-1-color-hover': $color-dark-blue,
    'heading-1-color-visited': $color-darkest-blue,

    'heading-2-color': $color-darkest-blue,
    'heading-2-color-hover': $color-dark-blue,
    'heading-2-color-visited': $color-darkest-blue,

    'heading-3-color': $color-darkest-blue,
    'heading-3-color-hover': $color-dark-blue,
    'heading-3-color-visited': $color-darkest-blue,

    'heading-4-color': $color-darkest-blue,
    'heading-4-color-hover': $color-dark-blue,
    'heading-4-color-visited': $color-darkest-blue,

    'heading-5-color': $color-darkest-blue,
    'heading-5-color-hover': $color-dark-blue,
    'heading-5-color-visited': $color-darkest-blue,

    'heading-6-color': $color-darkest-blue,
    'heading-6-color-hover': $color-dark-blue,
    'heading-6-color-visited': $color-darkest-blue,

    'link-color': $color-blue,
    'link-color-active': $color-blue,
    'link-color-visited': $color-blue,
    'link-color-focus': $color-dark-blue,
    'link-color-hover': $color-dark-blue,

    'button-color': $color-white,
    'button-color-active': $color-white,
    'button-color-visited': $color-white,
    'button-color-focus': $color-white,
    'button-color-hover': $color-white,

    'button-background': $color-blue,
    'button-background-active': $color-blue,
    'button-background-visited': $color-blue,
    'button-background-focus': lighten($color-blue, 5),
    'button-background-hover': lighten($color-blue, 5),

    'button-border': none,
    'button-border-active': none,
    'button-border-visited': none,
    'button-border-focus': none,
    'button-border-hover': none,

    'tag-color': $color-white,
    'tag-color-hover': $color-white,

    'tag-background': $color-dark-gray,
    'tag-background-hover': $color-dark-gray,
  ),
  'accent': (
    'section-bg-color': $color-blue,
    'section-text-color': $color-white,

    'heading-1-color': $color-white,
    'heading-1-color-hover': $color-white,
    'heading-1-color-visited': $color-white,

    'heading-2-color': $color-white,
    'heading-2-color-hover': $color-white,
    'heading-2-color-visited': $color-white,

    'heading-3-color': $color-white,
    'heading-3-color-hover': $color-white,
    'heading-3-color-visited': $color-white,

    'heading-4-color': $color-white,
    'heading-4-color-hover': $color-white,
    'heading-4-color-visited': $color-white,

    'heading-5-color': $color-white,
    'heading-5-color-hover': $color-white,
    'heading-5-color-visited': $color-white,

    'heading-6-color': $color-white,
    'heading-6-color-hover': $color-white,
    'heading-6-color-visited': $color-white,

    'link-color': $color-white,
    'link-color-active': $color-white,
    'link-color-visited': $color-white,
    'link-color-focus': $color-white,
    'link-color-hover': $color-white,

    'button-color': $color-darkest-blue,
    'button-color-active': $color-darkest-blue,
    'button-color-visited': $color-darkest-blue,
    'button-color-focus': $color-dark-blue,
    'button-color-hover': $color-dark-blue,

    'button-background': $color-white,
    'button-background-active': $color-white,
    'button-background-visited': $color-white,
    'button-background-focus': $color-white,
    'button-background-hover': $color-white,

    'button-border': none,
    'button-border-active': none,
    'button-border-visited': none,
    'button-border-focus': none,
    'button-border-hover': none,

    'tag-color': $color-white,
    'tag-color-hover': $color-white,

    'tag-background': $color-dark-gray,
    'tag-background-hover': $color-dark-gray,
  ),
  'wrapper': (
    'section-bg-color': $color-darkest-blue,
    'section-text-color': $color-white,

    'heading-1-color': $color-white,
    'heading-1-color-hover': $color-white,
    'heading-1-color-visited': $color-white,

    'heading-2-color': $color-white,
    'heading-2-color-hover': $color-white,
    'heading-2-color-visited': $color-white,

    'heading-3-color': $color-white,
    'heading-3-color-hover': $color-white,
    'heading-3-color-visited': $color-white,

    'heading-4-color': $color-white,
    'heading-4-color-hover': $color-white,
    'heading-4-color-visited': $color-white,

    'heading-5-color': $color-white,
    'heading-5-color-hover': $color-white,
    'heading-5-color-visited': $color-white,

    'heading-6-color': $color-white,
    'heading-6-color-hover': $color-white,
    'heading-6-color-visited': $color-white,

    'link-color': $color-white,
    'link-color-active': $color-white,
    'link-color-visited': $color-white,
    'link-color-focus': $color-white,
    'link-color-hover': $color-white,

    'button-color': $color-white,
    'button-color-active': $color-white,
    'button-color-visited': $color-white,
    'button-color-focus': $color-darkest-blue,
    'button-color-hover': $color-darkest-blue,

    'button-background': transparent,
    'button-background-active': transparent,
    'button-background-visited': transparent,
    'button-background-focus': $color-white,
    'button-background-hover': $color-white,

    'button-border': none,
    'button-border-active': none,
    'button-border-visited': none,
    'button-border-focus': none,
    'button-border-hover': none,
    
    'tag-color': $color-white,
    'tag-color-hover': $color-white,
    
    'tag-background': $color-blue,
    'tag-background-hover': $color-light-blue,
  ),
  'highlighted': (
    'section-bg-color': $color-orange,
    'section-text-color': $color-dark-gray,

    'heading-1-color': $color-white,
    'heading-1-color-hover': $color-white,
    'heading-1-color-visited': $color-white,

    'heading-2-color': $color-white,
    'heading-2-color-hover': $color-white,
    'heading-2-color-visited': $color-white,

    'heading-3-color': $color-white,
    'heading-3-color-hover': $color-white,
    'heading-3-color-visited': $color-white,

    'heading-4-color': $color-white,
    'heading-4-color-hover': $color-white,
    'heading-4-color-visited': $color-white,

    'heading-5-color': $color-white,
    'heading-5-color-hover': $color-white,
    'heading-5-color-visited': $color-white,

    'heading-6-color': $color-white,
    'heading-6-color-hover': $color-white,
    'heading-6-color-visited': $color-white,

    'link-color': $color-white,
    'link-color-active': $color-white,
    'link-color-visited': $color-white,
    'link-color-focus': $color-white,
    'link-color-hover': $color-white,
    'link-color-in-button': $color-darkest-blue,

    'button-color': $color-darkest-blue,
    'button-color-active': $color-darkest-blue,
    'button-color-visited': $color-darkest-blue,
    'button-color-focus': $color-dark-blue,
    'button-color-hover': $color-dark-blue,

    'button-background': $color-white,
    'button-background-active': $color-white,
    'button-background-visited': $color-white,
    'button-background-focus': $color-white,
    'button-background-hover': $color-white,

    'button-border': none,
    'button-border-active': none,
    'button-border-visited': none,
    'button-border-focus': none,
    'button-border-hover': none,

    'tag-color': $color-white,
    'tag-color-hover': $color-white,

    'tag-background': $color-dark-gray,
    'tag-background-hover': $color-dark-gray,
  ),
  'inverse': (
    'section-bg-color': $color-lightest-blue,
    'section-text-color': $color-dark-gray,

    'heading-1-color': $color-darkest-blue,
    'heading-1-color-hover': $color-dark-blue,
    'heading-1-color-visited': $color-darkest-blue,

    'heading-2-color': $color-darkest-blue,
    'heading-2-color-hover': $color-dark-blue,
    'heading-2-color-visited': $color-darkest-blue,

    'heading-3-color': $color-darkest-blue,
    'heading-3-color-hover': $color-dark-blue,
    'heading-3-color-visited': $color-darkest-blue,

    'heading-4-color': $color-darkest-blue,
    'heading-4-color-hover': $color-dark-blue,
    'heading-4-color-visited': $color-darkest-blue,

    'heading-5-color': $color-darkest-blue,
    'heading-5-color-hover': $color-dark-blue,
    'heading-5-color-visited': $color-darkest-blue,

    'heading-6-color': $color-darkest-blue,
    'heading-6-color-hover': $color-dark-blue,
    'heading-6-color-visited': $color-darkest-blue,

    'link-color': $color-blue,
    'link-color-active': $color-blue,
    'link-color-visited': $color-blue,
    'link-color-focus': $color-dark-blue,
    'link-color-hover': $color-dark-blue,
    'link-color-in-button': $color-white,

    'button-color': $color-white,
    'button-color-active': $color-white,
    'button-color-visited': $color-white,
    'button-color-focus': $color-white,
    'button-color-hover': $color-white,

    'button-background': $color-blue,
    'button-background-active': $color-blue,
    'button-background-visited': $color-blue,
    'button-background-focus': lighten($color-blue, 5),
    'button-background-hover': lighten($color-blue, 5),

    'button-border': none,
    'button-border-active': none,
    'button-border-visited': none,
    'button-border-focus': none,
    'button-border-hover': none,

    'tag-color': $color-white,
    'tag-color-hover': $color-white,

    'tag-background': $color-dark-gray,
    'tag-background-hover': $color-dark-gray,
  )
) !default;

// Default $overwrite-themes map to overwrite above $theme map.
$overwrite-themes: () !default;
