.db-block-partnership {
  padding-top: 100px;
  background-image: url('../styleguide/img/svg/stad-gent.svg') ;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 140px;
  color: $color-gray;
  text-align: right;
}
