<div class="hamburger-menu-overlay"></div>
<section class="hamburger-menu visible-mobile" role="menu" tabindex="-1">
  <a href="javascript:void(0);" class="close" tabindex="0">{{ 'Sluit menu'}} <i class="icon-cross"></i></a>
  {% include '@list' with {'modifier': 'no-style'} %}
</section>
