<div class="hamburger-menu-overlay"></div>
<div class="hamburger-menu" tabindex="-1">
  <a href="javascript:void(0);" class="close">{{ 'Sluit menu'}} <i class="icon-cross"></i></a>
  {% include '@list' with {'modifier': 'no-style'} %}
</div>
