<div class="hamburger-menu-overlay"></div>
<section class="hamburger-menu visible-mobile" role="menu">
  <a href="javascript:void(0);" class="close">{{ 'Sluit menu'}} <i class="icon-cross"></i></a>
  {% include '@list' with {'modifier': 'no-style'} %}
</section>
<p>Click the <strong>Menu</strong> button in the header (on a mobile device) to toggle the hamburger menu.</p>
