<h1>Image styles</h1>

<div class="preview-inner-container">
  <h3>Default image</h3>
  {% include '@image' with { 'src': 'http://lorempixel.com/800/532/' } %}
</div>

<div class="preview-inner-container">
  <h3>Image without styling</h3>
  {% include '@image' with { 'src': 'http://lorempixel.com/800/532/', 'modifier': 'no-style' } %}
</div>

<div class="preview-inner-container">
  <h3>Image as a circle (only usable with square images)</h3>
  {% include '@image' with { 'src': 'http://lorempixel.com/400/400/', 'modifier': 'circle' } %}
</div>
