<h2 class="styleguide">Collections</h2>
<div class="preview-inner-container">
  <h2>Teaser collection</h2>
  {% include '@teaser-collection' %}
</div>

<div class="preview-inner-container">
  <h2>Topic collection</h2>
  {% include '@teaser-collection--topics' %}
</div>
