.tag {
  padding: .05rem .31rem;
  border-radius: .25rem;
  background-color: $tag-background-color;
  color: $tag-color;
  font-weight: 700;
  text-transform: uppercase;
}

a.tag {
  text-decoration: none;

  &:hover {
    background-color: $tag-background-color-hover;
    color: $tag-color-hover;
    cursor: pointer;
  }
}
