.tag {
  @include themify {
    background: $tag-background;
    color: $tag-color;

    @at-root a#{&} {
      &:active,
      &:visited {
        @content;
      }

      &:hover,
      &:focus {
        background-color: $tag-background-hover;
        color: $tag-color-hover;
      }
    }
  }

  padding: .05rem .31rem;
  border-radius: .25rem;
  font-weight: 700;
  text-transform: uppercase;

  @at-root a#{&} {
    text-decoration: none;

    &:active,
    &:visited {
      @content;
    }

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}
