<nav class="pager">
    <ul class="pager__items">
        <li class="pager__item pager__item--first">
            <a href="#" title="Ga naar de eerste pagina" rel="eerste">« eerste</a>
        </li>
        <li class="pager__item pager__item--prev">
            <a href="#" title="Ga naar de vorige pagina">‹ vorige</a>
        </li>
        <li class="pager__item pager__item--ellipsis" role="presentation">
          …
        </li>
        <li class="pager__item">
            <a href="#" title="Huidige page">5</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Ga naar pagina 6">6</a>
        </li>
        <li class="pager__item is-active">
            <a href="#" title="Ga naar pagina 7">7</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Ga naar pagina 8">8</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Ga naar pagina 9">9</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Ga naar pagina 10">10</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Ga naar pagina 11">11</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Ga naar pagina 12">12</a>
        </li>
        <li class="pager__item">
            <a href="#" title="Ga naar pagina 13">13</a>
        </li>
        <li class="pager__item pager__item--ellipsis" role="presentation">
          …
        </li>
        <li class="pager__item pager__item--next">
            <a href="#" title="Ga naar de volgende pagina" rel="next">volgende ›</a>
        </li>
        <li class="pager__item pager__item--last">
            <a href="#" title="Ga naar de laatste pagina">laatste »</a>
        </li>
    </ul>
</nav>