//
// Button size mixins.
//
@mixin btn-large {
  padding-top: .7rem;
  padding-bottom: .7rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
@mixin btn-medium {
  padding-top: .45rem;
  padding-bottom: .45rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
@mixin btn-small {
  padding-top: .2rem;
  padding-bottom: .2rem;
  font-size: .8rem;
  line-height: 1.4rem;
}

//
// Button inline display (default).
//
@mixin btn-inlineblock {
  display: inline-block;
}

//
// Button block display.
//
@mixin btn-block {
  display: block;
}

//
// General button styling (default).
//
%btn,
.btn,
a.btn,
button,
input[type='button'],
input[type='submit'] {
  @include themify {
    @include color-element-states($button-color, $button-color-hover, $property: "color");
    @include color-element-states($button-background, $button-background-hover, $property: "background");
    @include color-element-states($button-border, $button-border-hover, $property: "border");
  }
  @include btn-medium;
  @include btn-inlineblock;
  position: relative;
  margin: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  transition: .11s ease-in-out;
  transition-property: background, color, border;
  border: 0;
  border-radius: $radius-1;
  outline: none;
  font-family: $primary-font-family;
  font-weight: $primary-font-weight + 300;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  cursor: pointer;
  overflow: hidden;
  appearance: none;

  &:hover {
    text-decoration: none;
  }

  &.icon::before {
    @extend %icon-base-css;
    margin-right: .43rem;
  }

  &.icon-only {
    text-indent: -9999px;

    &::before {
      width: 100%;
      margin: 0;
      float: left;
      text-align: center;
      text-indent: 0;
    }
  }
}

%btn--small,
.btn--small,
a.btn--small,
button.btn--small,
input[type="button"].btn--small,
input[type='submit'].btn--small {
  @include btn-small;
}

%btn--medium,
.btn--medium,
a.btn--medium,
button.btn--medium,
input[type='button'].btn--medium,
input[type='submit'].btn--medium {
  @include btn-medium;
}

%btn--large,
.btn--large,
a.btn--large,
button.btn--large,
input[type="button"].btn--large,
input[type='submit'].btn--large {
  @include btn-large;
}
