<div class="form-item">
    <label for="email">{{ label|default('E-mail') }}</label>
    <input type="email" name="email" id="email" placeholder="{{ placeholder|default('Placeholder tekst') }}" class="inline" />
</div>
