.color {
  width: 125px;
  height: 125px;
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border: #E1E1E1 1px solid;
}

/*
 * Grid examples
 *
 * Highlight the grid columns within the docs so folks can see their padding,
 * alignment, sizing, etc.
 */

.show-grid {
  margin-bottom: 15px;
}
.show-grid [class^="col-"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  background-color: rgba(0, 125, 179, .15);
  border: 1px solid #ddd;
  border: 1px solid rgba(0, 125, 179, .2);
}


.form-item {
  padding-bottom: 1rem;
}