button[type="submit"] {
  &.icon:before {
    margin-right: .43rem;
  }

  &.icon-only {
    text-indent: -9999px;

    &:before {
      width: 100%;
      margin: 0;
      float: left;
      text-align: center;
      text-indent: 0;
    }
  }
}
