h6,
.h6,
%h6 {
  @include themify {
    color: $heading-6-color;
    font-family: $heading-6-font-family;

    a {
      color: $heading-6-color;

      &:visited {
        color: $heading-6-color-visited;
      }

      &:hover {
        color: $heading-6-color-hover;
      }
    }
  }
  margin-bottom: .5rem;
  font-weight: 600;
}
