footer {
  padding: 1.5rem 0;

  p {
    color: $color-gray;
  }

  .footer--column {
    @include make-mobile-column(12);
    @include tablet {
      @include make-tablet-column(6);
    }
    @include desktop {
      @include make-tablet-column(3);
    }
  }

  .db-block-partnership {
    @include tablet {
      margin-top: 6rem;
    }

    @include desktop {
      margin-top: 12.5rem;
    }
  }
}

