// General footer styling.
footer {
  @include tablet {
    padding: 1.5rem;
  }

  padding: 1.5rem .5rem;

  p {
    color: $color-gray;
  }
}

// Footer 4 column layout.
footer[data-columns="4"] {
  @include tablet {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr [footer-column]);
    grid-gap: 1rem;
    grid-auto-rows: 275px;
  }
  @include desktop {
    grid-template-columns: repeat(4, 1fr [footer-column]);
    grid-auto-rows: 400px;
  }

  .footer--column {
    @include tablet {
      width: 50%;
    }
    @include desktop {
      width: 25%;
    }
    @supports (display: grid) {
      width: auto;
    }
  }

  .footer--column:last-child {
    align-self: flex-end;
    justify-self: flex-end;

    @supports (display: grid) {
      align-self: end;
      justify-self: end;
    }
  }
}
