<footer class="container section--wrapper" role="contentinfo">
  <div class="content-container">
    <div class="row">
      <div class="col-tablet-3">
        {% include '@gentinfo-island' %}
      </div>
      <div class="col-tablet-3">
        {% include '@post-address-block' %}
        {% include '@disclaimer-block' %}
      </div>
      <div class="col-tablet-3">
        {% include '@social-media-block' %}
      </div>
      <div class="col-tablet-3">
        {% include '@partnership-block' %}
      </div>
    </div>
  </div>
</footer>
