<footer class="section--wrapper" role="contentinfo">
  <div class="content-container">
    <div class="row">
      <div class="col-tablet-3">
        {% include '@gentinfo-island' %}
      </div>
      <div class="col-tablet-3">
        {% include '@post-address-block' %}
        {% include '@disclaimer-block' %}
      </div>
      <col-tablet-3>
      {% include '@social-media-block' %}
      </col-tablet-3>
    </div>
  </div>
</footer>
