%section--highlighted,
.section--highlighted {
  @include new-section(
    $section-bg-color: $color-orange,
    $section-text-color: $color-darkest-gray,

    $section-title-color: $color-white,

    $section-field-text-color: $color-darkest-gray,
    $section-field-bg-color: $color-white
  );
}
