h4,
.h4,
%h4 {
  margin-bottom: .75rem;
  color: $heading-4-color;

  a {
    color: $heading-4-color;
    text-decoration: none;

    &:visited {
      color: $heading-4-color-visited;
    }

    &:hover {
      color: $heading-4-color-hover;
    }
  }
}
