h4,
.h4,
%h4 {
  @include themify {
    margin-bottom: .75rem;
    color: $heading-4-color;
    font-family: $heading-4-font-family;

    a {
      color: $heading-4-color;
      text-decoration: none;

      &:visited {
        color: $heading-4-color-visited;
      }

      &:hover {
        color: $heading-4-color-hover;
      }
    }
  }
}
