<div class="form-progress">
  <ul class="no-style">
    <li class="progress progress-previous">
      <a href="javascript:(void);" class="indicator">
        <span class='count'><i class="icon icon-check"></i></span>
        <span class="label">Step 1</span>
      </a>
    </li>
    <li class="progress progress-active">
      <a href="javascript:(void);" class="indicator">
        <span class='count'>2</span>
        <span class="label">Step 2</span>
      </a>
    </li>
    <li class="progress">
      <span class='count'>3</span>
      <span class="label">Step 3</span>
    </li>
    <li class="progress">
      <span class='count'>4</span>
      <span class="label">Step 4</span>
    </li>
    <li class="progress">
      <span class='count'>5</span>
      <span class="label">Step 5</span>
    </li>
    <li class="progress">
      <span class='count'>6</span>
      <span class="label">Step 6</span>
    </li>
    <li class="progress">
      <span class='count'>7</span>
      <span class="label">Step 7</span>
    </li>
  </ul>
</div>
