<div class="form-progress">
  <ul class="no-style">
    <li class="progress progress-previous"><span class='count'>1</span><span class="indicator"><a href='javascript:(void);'>Step 1</a></span></li>
    <li class="progress progress-active"><span class='count'>2</span><span class="indicator"><a href='javascript:(void);'>Step 2</a></span></li>
    <li class="progress"><span class='count'>3</span><span class="indicator"><span>Step 3</span></span></li>
    <li class="progress"><span class='count'>4</span><span class="indicator"><span>Step 4</span></span></li>
    <li class="progress"><span class='count'>5</span><span class="indicator"><span>Step 5</span></span></li>
    <li class="progress"><span class='count'>6</span><span class="indicator"><span>Step 6</span></span></li>
    <li class="progress"><span class='count'>7</span><span class="indicator"><span>Step 7</span></span></li>
  </ul>
</div>
