<div class="form-progress">
  <ul class="no-style">
    <li class="progress progress-previous"><span class='count'>1</span><a href='javascript:(void);' class='indicator'>Step 1</a></li>
    <li class="progress progress-active"><span class='count'>2</span><a href='javascript:(void);' class='indicator'>Step 2</a></li>
    <li class="progress"><span class='count'>3</span><span class="indicator">Step 3</span></li>
    <li class="progress"><span class='count'>4</span><span class="indicator">Step 4</span></li>
    <li class="progress"><span class='count'>5</span><span class="indicator">Step 5</span></li>
    <li class="progress"><span class='count'>6</span><span class="indicator">Step 6</span></li>
    <li class="progress"><span class='count'>7</span><span class="indicator">Step 7</span></li>
  </ul>
</div>
