header {
  position: relative;
  padding: .35rem 0;
  font-size: .7rem;
  line-height: 2.4rem;

  .content-container > * {
    margin: 0 1rem 0 0;
    float: left;

    &.right {
      margin: 0 0 0 1rem;
      float: right;
    }

    i {
      display: inline-block;
      margin-left: 10px;
      float: right;
      font-size: 1rem;
      line-height: 2.4rem;
    }

    // Change the look and feel of the link atom.
    a {
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }

    //
    // Change the look and feel of the search molecule.
    //
    &.header-search,
    &.header-search-mobile {
      position: relative;
      min-height: 2.4rem;
      padding-right: 50px;

      input[type="search"] {
        margin: 0;
        font-size: .7rem;
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 50px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 1.3rem;
        line-height: 1.8rem;
      }
    }

    &.header-search {
      @include tablet {
        display: block;
      }

      display: none;
    }

    &.header-search-mobile {
      @include tablet {
        display: none;
      }

      position: absolute;
      right: 0;
      left: $gutter-width/2;
      margin-left: 0;

      &.js-form-search-opened {
        padding-right: 125px;
        background-color: $color-darkest-blue;
      }

      input[type="search"] {
        display: none;

        &.js-form-search-opened {
          display: block;
        }
      }

      button {
        right: 75px;
      }

      .close {
        display: none;
        position: absolute;
        top: 0;
        right: $gutter-width/2;

        &.js-form-search-opened {
          display: block;
        }
      }
    }
  }
}

