header {
  padding: .35rem 0;
  font-size: .7rem;
  line-height: 2.4rem;

  .content-container > * {
    margin: 0 1rem 0 0;
    float: left;

    &.right {
      margin: 0 0 0 1rem;
      float: right;
    }

    i {
      display: inline-block;
      margin-left: 10px;
      float: right;
      font-size: 1rem;
      line-height: 2.4rem;
    }

    // Change the look and feel of the link atom.
    a {
      text-decoration: none;

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }

    //
    // Change the look and feel of the search molecule.
    //
    &.header-search {
      position: relative;
      margin-right: 50px;

      input[type="search"] {
        margin: 0;
        font-size: .7rem;
      }

      button {
        position: absolute;
        top: 0;
        right: -50px;
        bottom: 0;
        width: 50px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 1.3rem;
        line-height: 1.8rem;
      }
    }
  }
}

