<header class="header section--wrapper">
  <div class="content-container">
    {% include '@link' with {
      'link': 'javascript:(void);',
      'modifier': 'hamburger-toggle',
      'text': 'Menu'
    } %}

    <div id="logo">
      {% include '@logo' %}
    </div>

    <div id="profile" class="header-component right">
      {% include '@mijn-gent-block' with {
        "items": [
          "<a href='javascript:(void);'>Mijn profiel</a>",
          "<a href='javascript:(void);'>Nieuwsbrieven</a>",
          "<a href='javascript:(void);'>Historiek</a>"
        ]
      } %}
    </div>

    <div id="header-search-mobile" class="header-search-mobile header-component right">
      {% include '@search' %}
      <a href="javascript:(void);" class="close">Sluiten</a>
    </div>
    <div id="header-search" class="header-search header-component right">
      {% include '@search' %}
    </div>
  </div>

  {% include '@hamburger-menu' with {
    "items": [
      "<a href='javascript:(void);'>Menu item 1</a>",
      "<a href='javascript:(void);' class='active'>Menu item 2</a>",
      "<a href='javascript:(void);'>Menu item 3</a>",
      "<a href='javascript:(void);'>Menu item 4</a>"
    ]
  } %}

</header>
