<header class="section--wrapper">
  <div class="content-container">
    <div id="example-logo">
      {% include '../../21-atoms/logo/logo.twig' %}
    </div>
    <div id="example-component">
      <p><a href="#">Menu</a></p>
    </div>
    <div id="example-right-component" class="right">
      <p><a href="#"><i class="icon-search"></i> Search</a></p>
    </div>
    <div id="example-right-component-2" class="right">
      <p><a href="#"><i class="icon-user"></i> Profile</a></p>
    </div>
  </div>
</header>
