<header class="section--wrapper">
  <div class="content-container">
    <div id="logo">
      {% include '@logo' %}
    </div>
    <div id="profile" class="header-component right">
      {% include '@link' with {
        'url': '#',
        'text': '<i class="icon-user"></i> Profile'
      } %}
    </div>
    <div id="header-search" class="header-search header-component right">
      {% include '@search' %}
    </div>
  </div>
</header>
