<header class="section--wrapper">
  <div class="content-container">
    <div id="example-component">
      <p><a href="#" class="hamburger-toggle">Menu</a></p>
    </div>
    <div id="example-logo">
      {% include '../../21-atoms/logo/logo.twig' %}
    </div>
    <div id="example-right-component" class="right">
      <p><a href="#"><i class="icon-search"></i> Search</a></p>
    </div>
    <div id="example-right-component" class="right">
      <p><a href="#"><i class="icon-user"></i> Profile</a></p>
    </div>
  </div>
  {% include '@hamburger-menu' with {
    "items": [
      "<a href='javascript:(void);'>Menu item 1</a>",
      "<a href='javascript:(void);' class='active'>Menu item 2</a>",
      "<a href='javascript:(void);'>Menu item 3</a>",
      "<a href='javascript:(void);'>Menu item 4</a>"
    ]
  } %}
</header>
