<div class="form-item">
  <div class="form-item-column">
    {% include '@field-description' %}
  </div>
  <div class="form-item-column">
    {% include '@label' %}
    <input type="file" name="File" id="file" placeholder="{{ placeholder|default('Placeholder text') }}" />
    {% include '@description' %}
  </div>
</div>
