<div class="form-actions">
  {% include '@input-submit' with {
  'value': 'Submit',
  'modifier': 'btn--inline'
  } %}
  {% include '@link' with {
  'text': 'Delete',
  'modifier': 'right delete'
  } %}
</div>
