%section--inverse,
.section--inverse {
  @include new-section(
    $section-bg-color: $color-lightest-blue,
    $section-text-color: $color-dark-gray,

    $section-btn-border: none,
    $section-btn-bg-color: $color-blue,
    $section-btn-text-color: $color-white,

    $section-btn-bg-color-hover: lighten($color-blue, 5),
    $section-btn-text-color-hover: $color-white,

    $section-title-color: $color-darkest-blue,
    $section-link-color: $color-blue,
    $section-link-color-hover: $color-dark-blue,

    $section-field-bg-color: $color-white,
    $section-field-placeholder-color: $color-light-gray,
    $section-field-border-color: $color-light-gray,

    $section-cta-link-background-color: $color-white,
    $section-cta-link-background-color-hover: $color-lightest-gray
  );
}
