%section--inverse,
.section--inverse {
  @include new-section(
    $section-bg-color: $color-lightest-blue,
    $section-text-color: $color-dark-gray,

    $section-title-color: $color-darkest-blue,

    $section-field-bg-color: $color-white,
    $section-field-placeholder-color: $color-light-gray,
    $section-field-border-color: $color-light-gray,

    $section-cta-link-background-color: $color-white,
    $section-cta-link-background-color-hover: $color-lightest-gray
  );
}
