{% include '@header' %} {% include '@breadcrumbs' %}

<div class="container section--default">
  <div class="content-container {{ section }}">
    <h1>Icons</h1>

    <div class="container">
      <h2>Stad Gent Icons</h2>
      {% for unicode, icon in icons %}
          <p><i class="icon-{{ icon }}"></i> .icon-{{ icon }}</p>
      {% endfor %}
    </div>
  </div>
</div>
