<h1>Icons</h1>

<div class="preview-inner-container">
  <h2>Stad Gent Icons</h2>
  {% for unicode, icon in icons %}
      <p><i class="icon-{{ icon }}"></i> .icon-{{ icon }}</p>
  {% endfor %}
</div>
