  <h1>Styleguide</h1>

  <h2>Colors</h2>
  <div class="preview-inner-container">
    {% include '@colors' %}
  </div>

  <h2>Fonts & text styles</h2>
  <div class="preview-inner-container">
    {% include '@fonts' %}
  </div>

  <h2>Headings</h2>
  {% include '@headings' %}

  <h2>Paragraph types</h2>
  {% include '@paragraph-types' with {
    'text': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin mauris vel nisi condimentum accumsan. Phasellus eget est condimentum erat fringilla congue. Duis malesuada justo ut tincidunt tincidunt. <u>Vestibulum</u> in felis quam. In <strong>varius</strong> ligula vel ultricies consequat. Cras fringilla blandit purus nec <a href="javascript:(void);">fermentum</a>. Vivamus tristique ac mi a <i>pulvinar</i>. Quisque non ipsum tortor. Nunc nec odio non tellus malesuada molestie id sed ipsum. Curabitur risus ex, aliquet sed orci a, sagittis finibus sem. Ut bibendum purus id sodales scelerisque.'
  } %}

  <h2>Lists</h2>
  {% include '@lists' %}

  <h2>Tags</h2>
  {% include '@tags' %}

  <h2>Buttons</h2>
  {% include '@buttons' with { 'text': 'Button' }%}

  <h2>Image styles</h2>
  {% include '@image-styles' %}

  <h2>Messages</h2>
  {% include '@messages-overview' %}

  <h2>Icons</h2>
  {% include '@icons-overview' %}

  <h2>Forms</h2>
  {% include '@forms' %}

  <h2>Grid usage</h2>
  {% include '@grid' %}

  <h2>Building blocks overview</h2>
  {% include '@building-blocks-overview' %}

  <h2>Blocks overview</h2>
  {% include '@blocks-overview' %}
