a {
  @include themify {
    color: $link-color;

    &:visited {
      color: $link-visited-color;
    }

    &:hover {
      color: $link-hover-color;
    }
  }



  &:focus {
    color: $color-dark-blue;
  }

  &.btn {
    color: $color-white;
  }
}
