a {
  @include themify {
    color: $link-color;

    &:active {
      color: $link-color-active;
    }

    &:visited {
      color: $link-color-visited;
    }

    &:hover {
      color: $link-color-hover;
    }

    &:focus {
      color: $link-color-focus;
    }

    &.btn {
      color: $link-color-in-button;
    }
  }
  text-decoration: none;
}
