<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic" rel="stylesheet" type="text/css" />
    <link media="all" rel="stylesheet" href="{{ '/css/main.css' | path }}">
    <link media="all" rel="stylesheet" href="{{ '/css/styleguide.css'| path }}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{{ '/styleguide/js/breadcrumbs.js'|path }}"></script>
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      .preview-container {
        background-color: #ffffff;
        padding: 4% 2%;
        overflow: hidden;
      }
      .preview-inner-container {
        margin-bottom: 70px;
        clear: both;
        overflow: hidden;
      }
    </style>
</head>
<body>
{% include '@header' %}
{% include '@breadcrumbs' with {
  "items": [
    "<a href='#'>Stad.gent</a>",
    "<a href='#'>Overview</a>",
    "<span>Overview</span>",
    "<span>Overview</span>",
    "<span>Page title</span>"
  ]
} %}

<div class="preview-container">
  {{ yield | raw }}
</div>

{% include '@footer' %}

</body>
</html>
