<div class="form-item">
    <label for="password">{{ label|default('Password') }}</label>
    <input type="password" name="password" id="password" placeholder="{{ placeholder|default('Placeholder tekst') }}" />
</div>
