<div class="form-item">
{% include '@label' %}
  <div class="form-columns">
    <div class="form-item-column">
      {% include '@field-description' %}
    </div>
    <div class="form-item-column">
      {% include '@input-checkbox' with { 'label': 'Checkbox option' }%}
      {% include '@description' %}
    </div>
  </div>
</div>
