<div class="site-logo">
    <a href="#" title="Home" rel="home">
        <img src="/styleguide/img/svg/logo.svg" alt="Home" />
    </a>
    <div class="site-name">
        <p>Stad Gent Sitename</p>
    </div>
</div>
