<h1>Building blocks overview</h1>

<div class="preview-inner-container">
  <h2>Header</h2>
  {% include '@pagination' %}
</div>

<div class="preview-inner-container">
  <h2>Breadcrumbs</h2>
  {% include '@breadcrumbs' %}
</div>

<div class="preview-inner-container">
  <h2>Search</h2>
  {% include '@search' with { 'placeholder': 'Search here', 'text': 'Search' }%}
</div>

<div class="preview-inner-container">
  <h2>CTA link</h2>
  {% include '@cta-link' with { 'title': 'Graag meer info?', 'link_text': 'Bezoek onze website', 'modifier': 'link' }%}
</div>

<div class="preview-inner-container">
  <h2>CTA document</h2>
  {% include '@cta-link' with { 'title': 'Graag meer info?', 'link_text': 'Download', 'modifier': 'clip' }%}
</div>

<div class="preview-inner-container">
  <h2>CTA form fill</h2>
  {% include '@cta-link' with { 'title': 'Vul het formulier in', 'link_text': 'Vul in', 'modifier': 'form-fill' }%}
</div>

<div class="preview-inner-container">
  <h2>CTA email</h2>
  {% include '@cta-link' with { 'title': 'Contacteer ons via mail', 'link_text': 'Mail', 'modifier': 'email' }%}
</div>

<div class="preview-inner-container">
  <h2>CTA phone</h2>
  {% include '@cta-link' with { 'title': 'Contacteer ons via telefoon', 'link_text': 'Telefoneer', 'modifier': 'phone' }%}
</div>

<div class="preview-inner-container">
  <h2>CTA location</h2>
  {% include '@cta-link' with { 'title': 'Locatie', 'link_text': 'Locatie', 'modifier': 'loc' }%}
</div>

<div class="preview-inner-container">
  <h2>Form steps</h2>
  {% include '@form-steps' %}
</div>
