<div class="container section--default">
  <div class="content-container {{ section }}">
    <h1>Building blocks overview</h1>

    <div class="container">
      <h2>Disclaimer block</h2>
      {% include '@header' %}
    </div>

    <div class="container">
      <h2>Disclaimer block</h2>
      {% include '@breadcrumbs' %}
    </div>

    <div class="container">
      <h2>Disclaimer block</h2>
      {% include '@search' %}
    </div>

  </div>
</div>
