<h1>Building blocks overview</h1>

<div class="preview-inner-container">
  <h2>Header</h2>
  {% include '@pagination' %}
</div>

<div class="preview-inner-container">
  <h2>Breadcrumbs</h2>
  {% include '@breadcrumbs' %}
</div>

<div class="preview-inner-container">
  <h2>Search</h2>
  {% include '@search' with { 'placeholder': 'Search here', 'text': 'Search' }%}
</div>

<div class="preview-inner-container">
  <h2>CTA link</h2>
  {% include '@cta-link' with { 'title': 'Graag meer info?', 'link_text': 'Bezoek onze website' }%}
</div>
