<h1>Building blocks overview</h1>

<div class="preview-inner-container">
  <h2>Disclaimer block</h2>
  {% include '@header' %}
</div>

<div class="preview-inner-container">
  <h2>Disclaimer block</h2>
  {% include '@breadcrumbs' %}
</div>

<div class="preview-inner-container">
  <h2>Disclaimer block</h2>
  {% include '@search' %}
</div>
