%btn,
.btn,
a.btn,
button {
  @extend %btn--default;
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  transition: .11s ease-in-out;
  transition-property: background, color, border;
  border: 0;
  border-radius: $radius-1;
  outline: none;
  font-family: $primary-font-family;
  font-weight: $primary-font-weight + 300;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    text-decoration: none;
  }

  @include btn-m;
}

.inline.btn,
.btn--inline,
%btn--inline,
a.btn--inline,
input[type='submit'].btn--inline {
  @include btn-inlineblock
}


// Default button color scheme
a.btn-default,
.btn--default,
%btn--default {
  @include btn-scheme($color-white, $color-blue, none, $background-color-hover: lighten($color-blue, 5));
}
