//
// Button size mixins.
//
@mixin btn-l {
  padding-top: .7rem;
  padding-bottom: .7rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
@mixin btn-m {
  padding-top: .45rem;
  padding-bottom: .45rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
@mixin btn-s {
  padding-top: .2rem;
  padding-bottom: .2rem;
  font-size: .8rem;
  line-height: 1.4rem;
}

//
// Button display
//
@mixin btn-inlineblock {
  display: inline-block;
  width: auto;
}

//
// General button styling.
//
%btn,
.btn,
a.btn,
button {
  @extend %btn--default;
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  transition: .11s ease-in-out;
  transition-property: background, color, border;
  border: 0;
  border-radius: $radius-1;
  outline: none;
  font-family: $primary-font-family;
  font-weight: $primary-font-weight + 300;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    text-decoration: none;
  }

  @include btn-m;
}

//
// Inline button styling.
//
.inline.btn,
.btn--inline,
%btn--inline,
a.btn--inline,
input[type='submit'].btn--inline {
  @include btn-inlineblock
}


//
// Default button color scheme
//
a.btn-default,
.btn--default,
%btn--default {
  @include btn-scheme($color-white, $color-blue, none, $background-color-hover: lighten($color-blue, 5));
}

