.btn,
a.btn {
  @extend %btn--default;
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  transition: .11s ease-in-out;
  transition-property: background, color, border;
  border: 0;
  border-radius: $radius-1;
  outline: none;
  font-family: $primary-font-family;
  font-weight: $primary-font-weight + 300;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    text-decoration: none;
  }

  @include btn-m;
}

// Button sizes
.small.btn,
.btn--small,
a.btn--small,
input[type='submit'].btn--small {
  @include btn-s;
}

.medium.btn,
.btn--medium,
a.btn--medium,
input[type='submit'].btn--medium {
  @include btn-m;
}

.large.btn,
.btn--large,
a.btn--large,
input[type='submit'].btn--large {
  @include btn-l;
}

.inline.btn,
.btn--inline,
a.btn--inline,
input[type='submit'].btn--inline {
  @include btn-inlineblock
}
