<div class="gallery">
  <div class="gallery-main">
    {% include '@link' with {
      'rel': 'gallery-1',
      'title': 'test',
      'modifier': 'swipebox',
        'link': 'https://stad.gent/sites/default/files/styles/sidebar_full_width/prco/62000/images/252144-Warme%20William_beeld_Pagina_13-2dea86-original-1498657714.png?itok=wZ-Pl9vt',
      'text': '<img src="https://stad.gent/sites/default/files/styles/sidebar_full_width/prco/62000/images/252144-Warme%20William_beeld_Pagina_13-2dea86-original-1498657714.png?itok=wZ-Pl9vt" alt="warme william" />'
    } %}
  </div>
  <div class="gallery-thumbs">
    {% include '@link' with {
      'rel': 'gallery-1',
      'modifier': 'swipebox',
      'link': 'https://stad.gent/sites/default/files/styles/sidebar_full_width/prco/62000/images/252144-Warme%20William_beeld_Pagina_13-2dea86-original-1498657714.png?itok=wZ-Pl9vt',
    'text': '<img src="https://stad.gent/sites/default/files/styles/sidebar_full_width/prco/62000/images/252144-Warme%20William_beeld_Pagina_13-2dea86-original-1498657714.png?itok=wZ-Pl9vt" alt="warme william" />'
    } %}
    {% include '@link' with {
      'rel': 'gallery-1',
      'modifier': 'swipebox',
      'link': 'https://stad.gent/sites/default/files/styles/sidebar_full_width/prco/62000/images/252144-Warme%20William_beeld_Pagina_13-2dea86-original-1498657714.png?itok=wZ-Pl9vt',
    'text': '<img src="https://stad.gent/sites/default/files/styles/sidebar_full_width/prco/62000/images/252144-Warme%20William_beeld_Pagina_13-2dea86-original-1498657714.png?itok=wZ-Pl9vt" alt="warme william" />'
    } %}
    {% include '@link' with {
      'rel': 'gallery-1',
      'modifier': 'swipebox',
      'link': 'https://stad.gent/sites/default/files/styles/sidebar_full_width/prco/62000/images/252144-Warme%20William_beeld_Pagina_13-2dea86-original-1498657714.png?itok=wZ-Pl9vt',
    'text': '<img src="https://stad.gent/sites/default/files/styles/sidebar_full_width/prco/62000/images/252144-Warme%20William_beeld_Pagina_13-2dea86-original-1498657714.png?itok=wZ-Pl9vt" alt="warme william" />'
    } %}
    {% include '@link' with {
      'rel': 'gallery-1',
      'modifier': 'swipebox',
      'link': 'https://stad.gent/sites/default/files/styles/sidebar_full_width/prco/62000/images/252144-Warme%20William_beeld_Pagina_13-2dea86-original-1498657714.png?itok=wZ-Pl9vt',
    'text': '<img src="https://stad.gent/sites/default/files/styles/sidebar_full_width/prco/62000/images/252144-Warme%20William_beeld_Pagina_13-2dea86-original-1498657714.png?itok=wZ-Pl9vt" alt="warme william" />'
    } %}
  </div>
</div>
