<div class="gallery">
  {% include '@link' with {
  'modifier': 'main',
  'link': 'https://lorempixel.com/800/532/city/',
  'text': '<img src="https://lorempixel.com/800/532/city/" alt="warme william" />'
  } %}
  {% include '@link' with {
  'modifier': 'thumb',
  'link': 'https://lorempixel.com/800/532/city/',
  'text': '<img src="https://lorempixel.com/800/532/city/" alt="warme william" />'
  } %}
  {% include '@link' with {
  'modifier': 'thumb',
  'link': 'https://lorempixel.com/800/532/city/',
  'text': '<img src="https://lorempixel.com/800/532/city/" alt="warme william" />'
  } %}
  {% include '@link' with {
  'modifier': 'thumb',
  'link': 'https://lorempixel.com/800/532/city/',
  'text': '<img src="https://lorempixel.com/800/532/city/" alt="warme william" />'
  } %}
  {% include '@link' with {
  'modifier': 'thumb',
  'link': 'https://lorempixel.com/800/532/city/',
  'text': '<img src="https://lorempixel.com/800/532/city/" alt="warme william" />'
  } %}
</div>
