<div class="gallery">
  <div class="gallery-main">
    {% include '@link' with {
      'rel': 'gallery-1',
      'modifier': 'swipebox',
        'link': 'https://lorempixel.com/800/532/city/',
      'text': '<img src="https://lorempixel.com/800/532/city/" alt="warme william" />'
    } %}
  </div>
  <div class="gallery-thumbs">
    {% include '@link' with {
      'rel': 'gallery-1',
      'modifier': 'swipebox',
      'link': 'https://lorempixel.com/800/532/city/',
    'text': '<img src="https://lorempixel.com/800/532/city/" alt="warme william" />'
    } %}
    {% include '@link' with {
      'rel': 'gallery-1',
      'modifier': 'swipebox',
      'link': 'https://lorempixel.com/800/532/city/',
    'text': '<img src="https://lorempixel.com/800/532/city/" alt="warme william" />'
    } %}
    {% include '@link' with {
      'rel': 'gallery-1',
      'modifier': 'swipebox',
      'link': 'https://lorempixel.com/800/532/city/',
    'text': '<img src="https://lorempixel.com/800/532/city/" alt="warme william" />'
    } %}
    {% include '@link' with {
      'rel': 'gallery-1',
      'modifier': 'swipebox',
      'link': 'https://lorempixel.com/800/532/city/',
    'text': '<img src="https://lorempixel.com/800/532/city/" alt="warme william" />'
    } %}
  </div>
</div>
