.site-logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  img {
    width: 5rem;
    height: 2rem;
    border-radius: 0;
  }

  .site-name p {
    margin: 0 0 0 .5rem;
    font-size: .8rem;
    font-weight: bold;
  }
}
