<div class="preview-inner-container">
  <h3>Normal list</h3>
  {% include '@list'
  with {
  "items": [
  "item 1",
  "item 2",
  "item 3",
  "item 4"
  ]
  }
  %}

  <h3>list without styling</h3>
  {% include '@list'
  with {
  "modifier": "no-style",
  "items": [
  "item 1",
  "<i class='icon-twitter'></i> item 2",
  "item 3",
  "item 4"
  ]
  }
  %}

  <h3>Link list</h3>
  {% include '@list'
  with {
  "modifier": "links",
  "items": [
  "<a href='#'>item 1</a>",
  "<a href='#'>item 2</a>",
  "<a href='#'>item 3</a>",
  "<a href='#'>item 4</a>"
  ]
  }
  %}
</div>
