<p>Standaard:</p>
<img src="https://beeldbank.stad.gent/index.php/embed/fcff26dc04c440ba9dd94f03c4624d95fc4f48995bbb4c13a783974a462709acf64b2beobytnw5u1znubxpb38f658hue" />
<p>Geen standaard styling:</p>
<img src="https://beeldbank.stad.gent/index.php/embed/87f7244ef93344b4a48085cc1425d8cdcfc121b79c3941738799eaa27b0944afaa658dd10fc94d5a8b415749a0e48635" class="no-style" />
<p>Cirkel: (Alleen vierkante beelden kunnen hier gebruikt worden)</p>
<img src="https://beeldbank.stad.gent/index.php/embed/822966366b3a448ea0e719e98480a06826adcea0856a4c4abcdbdf0c877465e18789b500d4cf4f619860611fe083cf4c?w=400&h=400" class="circle" />