//
//
// @param $section-bg-color
// @param $section-text-color

// @param $section-btn-border,
// @param $section-btn-bg-color,
// @param $section-btn-text-color,

// @param $section-btn-bg-color-hover      [$section-btn-bg-color]
// @param $section-btn-text-color-hover    [$section-btn-text-color]

// @param $section-caption-color           [$section-text-color]

// @param $section-title-color             [$section-text-color]

// @param $section-link-color              [$section-text-color]
// @param $section-link-color-hover        [$section-link-color]
// @param $section-link-color-focus        [$section-link-color-hover]
// @param $section-link-color-visited      [$section-link-color]
// @param $section-link-color-active       [$section-btn-bg-color]

// @param $section-field-text-color        [$section-text-color]
// @param $section-field-placeholder-color [$section-field-text-color]
// @param $section-field-bg-color          [$section-bg-color]
// @param $section-field-border-color      [$section-field-bg-color]
//
// @param $section-cta-link-color:                    [$cta-link-color]
// @param $section-cta-link-color-hover:              [$cta-link-color-hover]
// @param $section-cta-link-background-color:         [$cta-link-background-color]
// @param $section-cta-link-background-color-hover:   [$cta-link-background-color-hover]
// @param $section-cta-link-border-color:             [$cta-link-border-color]
// @param $section-cta-link-icon-background-color:    [$cta-link-icon-background-color]
// @param $section-cta-link-icon-color:               [$cta-link-icon-color]
// @param $section-cta-link-title-color:              [$cta-link-title-color]
//
// @param $section-tag-color:                         [$tag-color],
// @param $section-tag-background-color:              [$tag-background-color],
// @param $section-tag-color-hover:                   [$tag-color-hover],
// @param $section-tag-background-color-hover:        [$tag-background-color-hove]
//
//
@mixin new-section(
  $section-bg-color,
  $section-text-color,

  $section-btn-border,
  $section-btn-bg-color,
  $section-btn-text-color,

  $section-btn-border-hover: $btn-border,
  $section-btn-bg-color-hover: $section-btn-bg-color,
  $section-btn-text-color-hover: $section-btn-text-color,

  $section-btn-border-focus: $btn-border,
  $section-btn-bg-color-focus: $section-btn-bg-color-hover,
  $section-btn-text-color-focus: $section-btn-text-color-hover,

  $section-caption-color: $section-text-color,

  $section-title-color: $section-text-color,

  $section-link-color: $section-text-color,
  $section-link-color-hover: $section-link-color,
  $section-link-color-focus: $section-link-color-hover,
  $section-link-color-visited: $section-link-color,
  $section-link-color-active: $section-btn-bg-color,

  $section-field-text-color: $section-text-color,
  $section-field-placeholder-color: $section-field-text-color,
  $section-field-bg-color: $section-bg-color,
  $section-field-border-color: $section-field-bg-color,

  $section-cta-link-color: $cta-link-color,
  $section-cta-link-color-hover: $cta-link-color-hover,
  $section-cta-link-background-color: $cta-link-background-color,
  $section-cta-link-background-color-hover: $cta-link-background-color-hover,
  $section-cta-link-border-color: $cta-link-border-color,
  $section-cta-link-icon-background-color: $cta-link-icon-background-color,
  $section-cta-link-icon-color: $cta-link-icon-color,
  $section-cta-link-title-color: $cta-link-title-color,

  $section-tag-color: $tag-color,
  $section-tag-background-color: $tag-background-color,
  $section-tag-color-hover: $tag-color-hover,
  $section-tag-background-color-hover: $tag-background-color-hover
) {
  &,
  *[class^="section--"] & {
    //
    // General section styling.
    //
    @include clearfix();

    //
    // Section container settings.
    //
    background-color: $section-bg-color;
    color: $section-text-color;

    //
    // Atom:
    // - Heading 1
    // - Heading 2
    // - Heading 3
    // - Heading 4
    // - Heading 5
    // - Heading 6
    //
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6,
    th,
    th > * {
      color: $section-title-color;
    }

    //
    // Atom: Description.
    //
    .caption,
    .description {
      color: $section-caption-color;
    }

    //
    // Atom: Labels.
    //
    label {
      color: $section-text-color;

      .label-optional {
        color: $section-caption-color;
      }
    }

    //
    // Atom: Button styling.
    // @TODO: Change this so it's not a global mixin anymore?
    //
    .btn,
    a.btn,
    button[type="submit"] {
      @include btn-scheme(
        $section-btn-text-color,
        $section-btn-bg-color,
        $section-btn-border,
        $text-color-hover: $section-btn-text-color-hover,
        $text-color-focus: $section-btn-text-color-focus,
        $background-color-hover: $section-btn-bg-color-hover,
        $background-color-focus: $section-btn-bg-color-focus,
        $border-hover: $section-btn-border-hover,
        $border-focus: $section-btn-border-focus
      );
    }

    //
    // Atom: Tag.
    //
    .tag {
      background-color: $section-tag-background-color;
      color: $section-tag-color;
    }

    a.tag:hover {
      background-color: $section-tag-background-color-hover;
      color: $section-tag-color-hover;
    }

    //
    // Atoms:
    // - input-text.
    // - input-search.
    // - input-password.
    // - input-date.
    // - input-datetime.
    // - input-datetime-local.
    // - input-time.
    // - input-email.
    // - input-textarea.
    // - input-select.
    //
    input[type='text'],
    input[type='search'],
    input[type='password'],
    input[type='date'],
    input[type='datetime'],
    input[type='datetime-local'],
    input[type='time'],
    input[type='email'],
    input[type='url'],
    textarea,
    select {
      border-color: $section-field-border-color;
      background: $section-field-bg-color;
      color: $section-field-text-color;

      &::placeholder {
        color: $section-field-placeholder-color;
      }
    }

    //
    // Molecule: cta-link.
    //
    a.cta-link {
      border: 1px solid $section-cta-link-border-color;
      background-color: $section-cta-link-background-color;
      color: $section-cta-link-color;

      .icon {
        background-color: $section-cta-link-icon-background-color;
        color: $section-cta-link-icon-color;
      }

      .title {
        color: $section-cta-link-title-color;
      }

      &:hover {
        background-color: $section-cta-link-background-color-hover;
        color: $section-cta-link-color-hover;
      }
    }
  }
}
