<div class="form-item">
    <label for="datetime">{{ label|default('Datetime') }}</label>
    <input type="datetime" name="datetime" id="datetime" placeholder="{{ placeholder|default('Placeholder tekst') }}" />
</div>
