a.cta-link {
  display: inline-block;
  position: relative;
  width: calc(87% + 1px);
  padding: .625rem 1.25rem;
  border: 1px solid $cta-link-border-color;
  border-radius: $radius-2;
  background-color: $cta-link-background-color;
  color: $cta-link-color;
  text-decoration: none;

  .icon {
    position: absolute;
    top: 0;
    right: calc(-17% - 1px);
    bottom: 0;
    width: 17%;
    margin: auto;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    border-radius: $radius-2;
    background-color: $cta-link-icon-background-color;
    color: $cta-link-icon-color;
    font-size: 1.3rem;
    text-align: center;
  }

  .title {
    margin-bottom: 0;
    color: $cta-link-title-color;
  }

  &:hover {
    background-color: $cta-link-background-color-hover;
    color: $cta-link-color-hover;
  }
}
