h2,
.h2,
%h2 {
  @include themify {
    color: $heading-2-color;

    a {
      @include element-states($heading-2-color, $heading-2-color-hover);
    }
  }

  margin-bottom: 1rem;
  font-family: $heading-2-font-family;
  font-size: 1.2rem;
  line-height: 1.4em;
}
