h2,
.h2,
%h2 {
  margin-bottom: 1rem;
  color: $heading-2-color;
  font-family: $heading-2-font-family;
  font-size: 1.2rem;
  line-height: 1.4em;

  a {
    color: $heading-2-color;
    text-decoration: none;

    &:visited {
      color: $heading-2-color-visited;
    }

    &:hover {
      color: $heading-2-color-hover;
    }
  }
}
