%input-base,
input[type='text'],
input[type='search'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='time'],
input[type='email'],
input[type='url'],
input[type='tel'],
textarea,
select {
  display: block;
  width: 100%;
  height: 2.4rem;
  margin: 0 0 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: $radius-1;
  font-size: 1rem;
  line-height: 1.5em;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }

  &.inline {
    @include btn-inlineblock();
  }

  &.error {
    border-color: #a31b00;
    background-color: #ff8770;
  }
}

input[type='text'],
input[type='search'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='time'],
input[type='email'],
input[type='url'],
input[type='tel'],
textarea,
.chosen-search-input {
  padding: .4rem .7rem;
}

input[type='file'] {
  margin: 0 0 1rem;
}

textarea {
  min-height: 7.2rem;
}

// Since padding doesn't work with appearance on menu list we need to make use of height and text-indent.
%select-base,
select {
  height: 2.4rem;
  text-indent: .3rem;

  &[multiple] {
    height: auto;
  }

  option {
    text-indent: .6rem;
  }

  optgroup {
    font-weight: bold;
  }
}

label {
  display: block;
  margin: 0 0 .5rem;
  font-size: 1rem;
  font-weight: bold;

  .label-optional {
    margin-left: .31rem;
    font-size: .8rem;
    font-weight: normal;
  }
}

input + .description {
  margin: -1rem 0 0;
}

// Radios and checkboxes shouldn't start on a new line.
input[type='radio'],
input[type='checkbox'] {
  margin: .4rem .4rem 0 0;
  float: left;
  outline: none;

  + label {
    display: block;
    overflow: auto;
  }
}

.form-item {
  margin-bottom: 1rem;

  .form-columns {
    @include make-row;

    .form-item-column {
      @include make-mobile-column(12);
      @include make-tablet-column(6);

      .no-style & {
        @include make-tablet-column(12);
      }


      .field-description {
        @include tablet {
          margin-bottom: 0;
        }

        margin-bottom: .8rem;

        .no-style & {
          display: none;
        }
      }

      &:nth-child(1) {
        @include tablet {
          padding-left: $gutter-width;
          float: right;
        }
      }

      &:last-child {
        float: left;
      }
    }
  }
}


