h3,
.h3,
%h3 {
  @include themify {
    color: $heading-3-color;

    a {
      @include element-states($heading-3-color, $heading-3-color-hover);
    }
  }
  margin-bottom: 1rem;
  font-family: $heading-3-font-family;
  font-size: 1.1rem;
  line-height: 1.3em;
}
