<div class="form-item">
  <div class="form-item-column">
    {% include '@field-description' %}
  </div>
  <div class="form-item-column">
    {% include '@label' %}
    {% include '@input-password' %}
    {% include '@description' %}
  </div>
</div>
