<div class="dg-block-post-address island">
  {% include 'h3'with { 'h3_text': 'Postadres' } %}
  {% include '@paragraph' with {
    'text':
      '<span>Stad Gent</span><br>
      <span> Botermarkt 1</span><br>
      <span>9000 Gent</span>'
  } %}
</div>
