.messages {
  max-width: 40rem;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border: 1px solid $color-light-blue;
  border-radius: $radius-2;
  background-color: $color-white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);

  &::before {
    @extend %icon-info-circle;
    display: block;
    margin-right: .5rem;
    margin-bottom: .5rem;
    font-family: gent-icons;
    font-size: 1rem;
  }

  &--status {
    color: darken($color-green, 10%);

    &::before {
      @extend %icon-critical;
    }
  }

  &--error {
    color: darken($color-red, 10%);

    &::before {
      content: '\62';
    }
  }

  &--warning {
    color: darken($color-orange, 20%);

    &::before {
      @extend %icon-alert;
    }
  }

  &__btn {
    display: inline-block;
    width: auto;
    padding: 0;
    background: transparent;
    color: inherit;
    font-variant: all-petite-caps;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      background: transparent;
      color: inherit;
      text-decoration: none;
    }

    &+.messages__btn {
      margin-left: 1rem;
    }
  }
}
