.messages {
  margin-bottom: 1rem;

  @each $key, $color in $status-message {
    &--#{$key} {
      background: lighten($color, 50);
      color: $color;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $color;
      }
    }
  }
}
