.messages {
  @include themify {
    &--status {
      border: $messages-status-border;
      background: $messages-status-background;
      color: $messages-status-color;
    }

    &--error {
      border: $messages-error-border;
      background: $messages-error-background;
      color: $messages-error-color;
    }

    &--warning {
      border: $messages-warning-border;
      background: $messages-warning-background;
      color: $messages-warning-color;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $messages-title-color;
    }
  }

  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border-radius: $radius-2;
}
