<div class="row">
  <div class="col-tablet-3">
    <ul class="dg-block-links island">
      <li>
        <a href="https://stad.gent/werken-ondernemen/werken/werken-bij-de-stad-gent/vacatures-en-solliciteren">Vacatures</a>
      </li>
      <li>
        <a href="https://stad.gent/over-gent-en-het-stadsbestuur/over-gent/kaarten-cijfers-en-data/gent-kaart/stadsplan">Stadsplan</a>
      </li>
      <li>
        <a href="http://persruimte.stad.gent/">Persruimte Stad Gent</a>
      </li>
      <li>
        <a href="https://stad.gent/over-gent-en-het-stadsbestuur/vragen-suggesties-en-meldingen/juridische-info-en-privacy">Juridische info en privacy </a>
      </li>
    </ul>
  </div>
</div>