<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic" rel="stylesheet" type="text/css" />
    <link media="all" rel="stylesheet" href="{{ '/css/main.css' | path }}">
    <link media="all" rel="stylesheet" href="{{ '/css/styleguide.css'| path }}">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

{% include '@header' %}
{% include '@breadcrumbs' %}

<div class="container section--default">
  <div class="content-container {{ section }}">
    <h1>Text styles</h1>

    <div class="container">
      <h2>Paragraphs</h2>
      <h3>Normal paragraph</h3>
      {% include '@paragraph' %}
      <h3>Small text paragraph</h3>
      {% include '@paragraph-small-text' %}
      <h3>Caption text paragraph</h3>
      {% include '@paragraph-caption-text' %}
      <h3>Centered paragraph</h3>
      {% include '@paragraph-centered-text' %}
      <h3>Left aligned paragraph</h3>
      {% include '@paragraph-left-text' %}
      <h3>Right aligned paragraph</h3>
      {% include '@paragraph-right-text' %}
    </div>

    <div class="container">
      <h2>Lists</h2>
      <h3>Normal list</h3>
      {% include '@list'
        with {
          "items": [
            "item 1",
            "item 2",
            "item 3",
            "item 4"
          ]
        }
      %}

      <h3>list without styling</h3>
      {% include '@list-no-styling'
        with {
          "items": [
            "item 1",
            "<i class='icon-twitter'></i> item 2",
            "item 3",
            "item 4"
          ]
        }
      %}

      <h3>Normal list</h3>
      {% include '@list-links'
        with {
          "items": [
            "<a href='#'>item 1</a>",
            "<a href='#'>item 2</a>",
            "<a href='#'>item 3</a>",
            "<a href='#'>item 4</a>"
          ]
        }
      %}
    </div>


  </div>
</div>

</body>
</html>
