<h1>Text styles</h1>

<div class="preview-inner-container">
  <h2>Headings</h2>
  {% include '@h1' with { 'h1_text': 'Heading 1' } %}
  {% include '@h1' with { 'h1_text': '<a href="#">Heading 1 with a link</a>' } %}
  {% include '@h2' with { 'h2_text': 'Heading 2' } %}
  {% include '@h2' with { 'h2_text': '<a href="#">Heading 2 with a link</a>' } %}
  {% include '@h3' with { 'h3_text': 'Heading 3' } %}
  {% include '@h3' with { 'h3_text': '<a href="#">Heading 3 with a link</a>' } %}
  {% include '@h4' with { 'h4_text': 'Heading 4' } %}
  {% include '@h4' with { 'h4_text': '<a href="#">Heading 4 with a link</a>' } %}
  {% include '@h5' with { 'h5_text': 'Heading 5' } %}
  {% include '@h5' with { 'h5_text': '<a href="#">Heading 5 with a link</a>' } %}
  {% include '@h6' with { 'h6_text': 'Heading 6' } %}
  {% include '@h6' with { 'h6_text': '<a href="#">Heading 6 with a link</a>' } %}
  </div>

<div class="preview-inner-container">
  <h2>Paragraphs</h2>
  <h3>Normal paragraph</h3>
  {% include '@paragraph' %}
  <h3>Small text paragraph</h3>
  {% include '@paragraph-small-text' %}
  <h3>Caption text paragraph</h3>
  {% include '@paragraph-caption-text' %}
  <h3>Centered paragraph</h3>
  {% include '@paragraph-centered-text' %}
  <h3>Left aligned paragraph</h3>
  {% include '@paragraph-left-text' %}
  <h3>Right aligned paragraph</h3>
  {% include '@paragraph-right-text' %}
</div>

<div class="preview-inner-container">
  <h2>Lists</h2>
  <h3>Normal list</h3>
  {% include '@list'
    with {
      "items": [
        "item 1",
        "item 2",
        "item 3",
        "item 4"
      ]
    }
  %}

  <h3>list without styling</h3>
  {% include '@list'
    with {
      "modifier": "no-style",
      "items": [
        "item 1",
        "<i class='icon-twitter'></i> item 2",
        "item 3",
        "item 4"
      ]
    }
  %}

  <h3>Link list</h3>
  {% include '@list'
    with {
      "modifier": "links",
      "items": [
        "<a href='#'>item 1</a>",
        "<a href='#'>item 2</a>",
        "<a href='#'>item 3</a>",
        "<a href='#'>item 4</a>"
      ]
    }
  %}
</div>
