<div class="mijn-gent-block">
  {% include '@link' with {
    'link': 'javascript:(void);',
    'modifier': 'toggle',
    'text': '<i class="icon-user"></i> Profile'
  } %}
  <div class="content">
    <header>
      {% include '@h3' with { 'h3_text': 'Mijn Gent' } %}
    </header>

    <section>
      {% include '@list' with {
        'modifier': 'no-style'
      } %}
    </section>

    <footer>
      {% include '@link' with {
        'link': 'javascript:(void);',
        'modifier': '',
        'text': 'Uitloggen'
      } %}
    </footer>
  </div>
</div>
