<div class="mijn-gent-block">
  <header>
    {% include '@h3' with { 'h3_text': 'Mijn Gent' } %}
  </header>

  <section>
    {% include '@list' with {
      'modifier': 'no-style'
    } %}
  </section>

  <footer>
    {% include '@link' with {
      'link': 'javascript:(void);',
      'modifier': '',
      'text': 'Uitloggen'
    } %}
  </footer>
</div>
