<div class="teaser">
    <div class="content">
        <h3 id="uid2">Island title</h3>

        {% include '@paragraph' with {
        'text': 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.'
        } %}

        <a href="javascript:void(0);" class="teaser__read-more" aria-labelledby="uid2">lees meer</a>
    </div>
    <a href="javascript:void(0);" class="teaser__overlay-link" tabindex="-1" aria-hidden="true"></a>
</div>

