$mobile-menu-width: 375px;

.mobile-menu {
  position: fixed;
  top: 0;
  left: -$mobile-menu-width;
  width: $mobile-menu-width;
  height: 100%;
  transition: left.5s cubic-bezier(0, 1, .5, 1);
  background-color: $color-darkest-blue;
  box-shadow: 0 1px 16.5px 0 rgba(0, 0, 0, .5);
  z-index: 9999;

  &.js-opened {
    left: 0;
  }

  ul {
    margin: 0;
  }

  a {
    display: block;
    padding-right: 27px;
    padding-left: 27px;
    border-bottom: 1.5px solid darken($color-darkest-blue, 2);
    color: $color-white;
    font-size: 23px;
    font-weight: bold;
    line-height: 3.48;

    &.active,
    &:active {
      border-color: $color-dark-blue;
      background-color: $color-dark-blue;
    }

    &:hover {
      border-color: darken($color-darkest-blue, 2);
      background-color: darken($color-darkest-blue, 2);
    }
  }

  a.close {
    border: 0;
    background-color: transparent;
    text-align: right;
    text-decoration: none;

    i {
      padding-left: 23px;
    }
  }
}
