<section class="mobile-menu " role="menu">
  <a href="javascript:(void);" class="close">{{ 'Sluit menu'}} <i class="icon-cross"></i></a>
  {% include '@list' with {'modifier': 'no-style'} %}
</section>
