<section class="mobile-menu section--accent" role="menu">
  <a href="javascript:(void);" class="mobile-menu-close">{{ 'Sluit menu'}} <i class="icon-cross"></i></a>
  {% include '@list' with {'modifier': 'no-style'} %}
</section>
