<div class="row">
  <div class="col-tablet-3">
    <div class="dg-blocks-social island">
      {% include '@h3'with { 'h3_text': 'Volg Stad Gent op' } %}
      {% include "@list" with
        {
          "modifier": "no-style",
          "items": [
            '<a href="https://www.facebook.com/stadsbestuurgent" class="hidden-mobile dg-facebook">facebook.com/stadsbestuurgent</a>',
            '<a href="https://www.facebook.com/stadsbestuurgent" class="visible-mobile dg-facebook">stadsbestuurgent</a>',
            '<a href="https://twitter.com/stadgent" class="hidden-mobile dg-twitter">twitter.com/stadgent</a>',
            '<a href="https://twitter.com/stadgent" class="visible-mobile dg-twitter">@Stadgent</a>',
            '<a href="https://www.linkedin.com/company/stad-gent" class="hidden-mobile dg-linkedin">linkedin.com/company/stad-gent</a>',
            '<a href="https://www.linkedin.com/company/stad-gent" class="visible-mobile dg-linkedin">Stad Gent</a>',
            '<a href="https://www.youtube.com/channel/UCmJLf8SFG0D0GTd6LSSTQLw" class="hidden-mobile dg-youtube">YouTube Stad Gent</a>',
            '<a href="https://www.youtube.com/channel/UCmJLf8SFG0D0GTd6LSSTQLw" class="visible-mobile dg-youtube">Stad Gent</a>',
            '<a href="https://www.instagram.com/stadgent/" class="hidden-mobile dg-instagram">Instagram Stad Gent</a>',
            '<a href="https://www.instagram.com/stadgent/" class="visible-mobile dg-instagram">@stadgent</a>'
          ]
        }
      %}
    </div>
  </div>
</div>
