<div class="section--accent newsletter-block">
  <div class="newsletter-block__image">
    <div class="image-wrapper">
      {% include '@image' with {
        'src': newsletter_image_src,
        'alt_text': newsletter_image_alt_text
      } %}
    </div>
    <div class="island section--wrapper">
      {% include '@h2' with {
        'h2_text': newsletter_image_title
      } %}
    </div>
  </div>
  <div class="island section--default newsletter-block__content">
    <div>
      {% include '@h3' with {
        'h3_text': newsletter_content_title
      } %}
      {% include '@list' with {
        'items': newsletter_content_list_items
      } %}
    </div>

    <div class="newsletter-block__form">
      {% include '@input-email' with {
        "email_name": newsletter_form_name,
        "email_id": newsletter_form_id
      } %}
      {% include '@input-submit' with {
        "value": newsletter_form_submit_value
      } %}
    </div>
  </div>
  <div class="island section--wrapper newsletter-block__social-media">
    {% include '@h3' with {
      'h3_text': newsletter_social_title
    } %}
    {% include '@list' with {
      'modifier': newsletter_social_modifier,
    'items': newsletter_social_items
    } %}
  </div>
</div>