<div class="preview-inner-inner-container">
  <h3>Standard tags (no modifier)</h3>
  <p>{% include '@tag' with { 'text': 'Standard tag' } %}</p>
  <p>{% include '@tag' with { 'text': '365KB' } %}</p>
</div>

<div class="preview-inner-inner-container">
  <h3>Link tag (no modifier)</h3>
  <p><a class="tag ">Tag as a link</a>
</div>
