<h2 class="styleguide-title">Tags</h2>
<div class="preview-inner-container">
  <h3 class="styleguide">Standard tags (no modifier)</h3>
  <p>{% include '@tag' with { 'text': 'Standard tag' } %}</p>
  <p>{% include '@tag' with { 'text': '365KB' } %}</p>

  <h3 class="styleguide">Link tag (no modifier)</h3>
  <p><a class="tag ">Tag as a link</a>
</div>
