<h1>Section styles</h1>

<div class="preview-inner-container">
  <h2>Section basic: default</h2>
  {% include '@section-default' %}
</div>

<div class="preview-inner-container">
  <h2>Section basic: Inverse</h2>
  {% include '@section-inverse' %}
</div>

<div class="preview-inner-container">
  <h2>Section basic: Highlighted</h2>
  {% include '@section-highlighted' %}
</div>

<div class="preview-inner-container">
  <h2>Section basic: Accent</h2>
  {% include '@section-accent' %}
</div>

<div class="preview-inner-container">
  <h2>Section basic: Wrapper</h2>
  {% include '@section-wrapper' %}
</div>
