h5,
.h5,
%h5 {
  @include themify {
    color: $heading-5-color;

    a {
      @include element-states($heading-5-color, $heading-5-color-hover);
    }
  }
  margin-bottom: .5rem;
  font-family: $heading-5-font-family;
}
