//
// Themify map
// @param {Map} $colors - Contains all colors of a section.
//
@mixin themify-map($colors) {
  $section-bg-color: map-get($colors, 'section-bg-color') !global;
  $section-text-color: map-get($colors, 'section-text-color') !global;

  $heading-1-color: map-get($colors, 'heading-1-color') !global;
  $heading-1-color-hover: map-get($colors, 'heading-1-color-hover') !global;
  $heading-1-color-visited: map-get($colors, 'heading-1-color-visited') !global;

  $heading-2-color: map-get($colors, 'heading-2-color') !global;
  $heading-2-color-hover: map-get($colors, 'heading-2-color-hover') !global;
  $heading-2-color-visited: map-get($colors, 'heading-2-color-visited') !global;

  $heading-3-color: map-get($colors, 'heading-3-color') !global;
  $heading-3-color-hover: map-get($colors, 'heading-3-color-hover') !global;
  $heading-3-color-visited: map-get($colors, 'heading-3-color-visited') !global;

  $heading-4-color: map-get($colors, 'heading-4-color') !global;
  $heading-4-color-hover: map-get($colors, 'heading-4-color-hover') !global;
  $heading-4-color-visited: map-get($colors, 'heading-4-color-visited') !global;

  $heading-5-color: map-get($colors, 'heading-5-color') !global;
  $heading-5-color-hover: map-get($colors, 'heading-5-color-hover') !global;
  $heading-5-color-visited: map-get($colors, 'heading-5-color-visited') !global;

  $heading-6-color: map-get($colors, 'heading-6-color') !global;
  $heading-6-color-hover: map-get($colors, 'heading-6-color-hover') !global;
  $heading-6-color-visited: map-get($colors, 'heading-6-color-visited') !global;

  $link-color: map-get($colors, 'link-color') !global;
  $link-color-active: map-get($colors, 'link-color-active') !global;
  $link-color-visited: map-get($colors, 'link-color-visited') !global;
  $link-color-focus: map-get($colors, 'link-color-focus') !global;
  $link-color-hover: map-get($colors, 'link-color-hover') !global;
  
  $button-color: map-get($colors, 'button-color') !global;
  $button-color-active: map-get($colors, 'button-color-active') !global;
  $button-color-visited: map-get($colors, 'button-color-visited') !global;
  $button-color-focus: map-get($colors, 'button-color-focus') !global;
  $button-color-hover: map-get($colors, 'button-color-hover') !global;

  $button-background: map-get($colors, 'button-background') !global;
  $button-background-active: map-get($colors, 'button-background-active') !global;
  $button-background-visited: map-get($colors, 'button-background-visited') !global;
  $button-background-focus: map-get($colors, 'button-background-focus') !global;
  $button-background-hover: map-get($colors, 'button-background-hover') !global;

  $button-border: map-get($colors, 'button-border') !global;
  $button-border-active: map-get($colors, 'button-border-active') !global;
  $button-border-visited: map-get($colors, 'button-border-visited') !global;
  $button-border-focus: map-get($colors, 'button-border-focus') !global;
  $button-border-hover: map-get($colors, 'button-border-hover') !global;
}

//
// Themify mixin
// @param {Map} $themes [$themes] - Map of themes to use
//
@mixin themify($themes: $themes) {
  @each $theme, $colors in $themes {
    @include themify-map($colors);

    // Apply the default section as default color scheme if there is no section
    // defined in the DOM.
    @if $theme == "default" {
      @content;
    }

    .section--#{$theme} &,
    *[class*="section--"] .section--#{$theme} & {
      @content;
    }
  }
}

//
// Merge {Map} $themes map if {Map} $overwrite-themes exist.
//
$themes: map-merge($themes, $overwrite-themes);

