//
// Themify mixin
// @param {Map} $themes [$themes] - Map of themes to use
//
@mixin themify($themes: $themes) {
  @each $theme, $colors in $themes {

    .section--#{$theme} & {

      $link-color: map-get($colors, 'link-color') !global;
      $link-color-visited: map-get($colors, 'link-color-visited') !global;
      $link-color-focus: map-get($colors, 'link-color-focus') !global;
      $link-color-hover: map-get($colors, 'link-color-hover') !global;
      $link-color-in-button: map-get($colors, 'link-color-in-button') !global;

      @content;
    }
  }
}
