<div class="section--default breadcrumb-wrapper">
    <div class="content-container {{ section }}">
        <ul class="breadcrumb">
            {% for item in items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
