%section--accent,
.section--accent {
  &,
  *[class^="section--"] & {
    @include new-section(
      $section-bg-color: $color-blue,
      $section-text-color: $color-white,

      $section-btn-border: none,
      $section-btn-bg-color: $color-white,
      $section-btn-text-color: $color-darkest-blue,

      $section-btn-bg-color-hover: $color-white,
      $section-btn-text-color-hover: $color-dark-blue,

      $section-field-text-color: $color-darkest-gray,
      $section-field-bg-color: $color-white
    );
  }
}
