%section--accent,
.section--accent {
  @include new-section(
    $section-bg-color: $color-blue,
    $section-text-color: $color-white,

    $section-field-text-color: $color-darkest-gray,
    $section-field-bg-color: $color-white,

    $section-cta-link-title-color: $color-darkest-blue,
    $section-cta-link-icon-background-color: $color-darkest-blue,
    $section-cta-link-icon-color: $color-white
  );
}
