p,
ol,
ul,
dl,
table,
address,
pre {
  margin-bottom: .5rem;
  font-size: 1rem;
  line-height: 1.4rem;
}

h1,
.h1,
%h1,
h2,
.h2,
%h2,
h3,
.h3,
%h3,
h4,
.h4,
%h4,
h5,
.h5,
%h5,
h6,
.h6,
%h6 {
  margin: 0;
}

h1,
.h1,
%h1 {
  padding-bottom: 1.5rem;
  font-family: $secondary-font-family;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.1em;
}

h2,
.h2,
%h2 {
  padding-top: 2rem;
  padding-bottom: .3rem;
  font-size: 1.2rem;
  line-height: 1.4em;
}

h3,
.h3,
%h3,
h4,
.h4,
%h4,
h5,
.h5,
%h5,
h6,
.h6,
%h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4em;
}

%small,
.small {
  font-size: .8rem;
  line-height: 1.5em;
}

.caption {
  @extend %small;
  color: $color-gray;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
