{% for i in 1..6 %}
    <h{{ i }}>Heading {{ i }}</h{{ i }}>
{% endfor %}
<p>Normal text paragraph</p>
<p class="small">Small text paragraph</p>
<p class="caption">Caption text</p>
<p class="text-center">Center text</p>
<p class="text-right">Right text</p>
<p class="text-left">Left text</p>
