{% include '@header' %}
{% include '@breadcrumbs' %}

<div class="container section--default">
  <div class="content-container {{ section }}">
    <h1>Button styles</h1>

    <div class="container">
      <h3>Small buttons</h3>
      {% include '@button-sm--default' %}
      {% include '@button-sm--inverse' with { "modifier": "btn--inverse" } %}
      {% include '@button-sm--highlighted' with { "modifier": "btn--highlighted" } %}

      <h3>Medium buttons</h3>
      {% include '@button-md--default' %}
      {% include '@button-md--inverse' with { "modifier": "btn--inverse" } %}
      {% include '@button-md--highlighted' with { "modifier": "btn--highlighted" } %}

      <h3>Large buttons</h3>
      {% include '@button-lg--default' %}
      {% include '@button-lg--inverse' with { "modifier": "btn--inverse" } %}
      {% include '@button-lg--highlighted' with { "modifier": "btn--highlighted" } %}
    </div>

  </div>
</div>
