<div class="preview-inner-container">
  <h3>Small buttons</h3>
  {% include '@button-sm' %}
  <h3>Inline: Small buttons</h3>
  {% include '@button-sm' with { 'modifier': 'inline' } %}

  <h3>Medium buttons</h3>
  {% include '@button-md' %}
  <h3>Inline: Medium buttons</h3>
  {% include '@button-md' with { 'modifier': 'inline' } %}

  <h3>Large buttons</h3>
  {% include '@button-lg' %}
  <h3>Inline: Large buttons</h3>
  {% include '@button-lg' with { 'modifier': 'inline' } %}
</div>
