<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Preview Layout</title>
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic" rel="stylesheet" type="text/css" />
    <link media="all" rel="stylesheet" href="{{ '/css/main.css' | path }}">
    <link media="all" rel="stylesheet" href="{{ '/css/styleguide.css'| path }}">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

{% include '@header' %}
{% include '@breadcrumbs' %}

<div class="container section--default">
  <div class="content-container {{ section }}">
    <h1>Text styles</h1>

    <div class="container">
      <h2>Buttons</h2>
      <h3>Small buttons</h3>
      {% include '@button-sm--default' %}
      {% include '@button-sm--inverse' with { "modifier": "btn--inverse" } %}
      {% include '@button-sm--highlighted' with { "modifier": "btn--highlighted" } %}

      <h3>Medium buttons</h3>
      {% include '@button-md--default' %}
      {% include '@button-md--inverse' with { "modifier": "btn--inverse" } %}
      {% include '@button-md--highlighted' with { "modifier": "btn--highlighted" } %}

      <h3>Large buttons</h3>
      {% include '@button-lg--default' %}
      {% include '@button-lg--inverse' with { "modifier": "btn--inverse" } %}
      {% include '@button-lg--highlighted' with { "modifier": "btn--highlighted" } %}
    </div>

  </div>
</div>

</body>
</html>
