//
// Globally defined mixins to style buttons.
// These mixins can be used by multiple components.
//

//
//
// @param $text-color The text color.
// @param $background-color The background color.
// @param $border The border type.
// @param $text-color-hover [$text-color] The text color on hover.
// @param $background-color-hover [$background-color] The background color on hover.
// @param $border-hover [$border] The border type on hover.
// @param $text-color-focus [$text-color] The text color on focus.
// @param $background-color-focus [$background-color] The background color on focus.
// @param $border-focus [$border] The border type on focus.
//
//
@mixin btn-scheme(
  $text-color,
  $background-color,
  $border,
  $text-color-hover: $text-color,
  $background-color-hover: $background-color,
  $border-hover: $border,
  $text-color-focus: $text-color,
  $background-color-focus: $background-color,
  $border-focus: $border
) {
  border: $border;
  background: $background-color;
  color: $text-color;

  &:hover {
    border: $border-hover;
    background: $background-color-hover;
    color: $text-color-hover;
  }

  &:focus,
  &:active {
    border: $border-focus;
    background: $background-color-focus;
    color: $text-color-focus;
  }

  // Overrule section definitions.
  &:visited {
    color: $text-color !important; // sass-lint:disable-line no-important
  }
}
