<h1>Message styles</h1>

<div class="preview-inner-container">
  <h3>Standard info message</h3>
  <p>{% include '@status-message' with { 'modifier': 'message--info', 'text': '<h1>Message title</h1><p>Aliquam ullamcorper vehicula leo. Mauris mattis egestas hendrerit. Sed vitae aliquet mauris. Morbi at erat sed mi mollis maximus at sit amet enim. Sed quis libero eu mauris eleifend accumsan vitae semper turpis. Vestibulum nisl ipsum, ullamcorper euismod ultrices nec, tempor sit amet urna. Pellentesque bibendum a mi commodo consectetur. Aliquam nec est tellus.</p>' } %}</p>
</div>

<div class="preview-inner-container">
  <h3>Standard error message</h3>
  <p>{% include '@status-message' with { 'modifier': 'message--error', 'text': '<h1>Message title</h1><p>Aliquam ullamcorper vehicula leo. Mauris mattis egestas hendrerit. Sed vitae aliquet mauris. Morbi at erat sed mi mollis maximus at sit amet enim. Sed quis libero eu mauris eleifend accumsan vitae semper turpis. Vestibulum nisl ipsum, ullamcorper euismod ultrices nec, tempor sit amet urna. Pellentesque bibendum a mi commodo consectetur. Aliquam nec est tellus.</p>' } %}</p>
</div>

<div class="preview-inner-container">
  <h3>Standard success message</h3>
  <p>{% include '@status-message' with { 'modifier': 'message--success', 'text': '<h1>Message title</h1><p>Aliquam ullamcorper vehicula leo. Mauris mattis egestas hendrerit. Sed vitae aliquet mauris. Morbi at erat sed mi mollis maximus at sit amet enim. Sed quis libero eu mauris eleifend accumsan vitae semper turpis. Vestibulum nisl ipsum, ullamcorper euismod ultrices nec, tempor sit amet urna. Pellentesque bibendum a mi commodo consectetur. Aliquam nec est tellus.</p>' } %}</p>
</div>

<div class="preview-inner-container">
  <h3>Standard warning message</h3>
  <p>{% include '@status-message' with { 'modifier': 'message--warning', 'text': '<h1>Message title</h1><p>Aliquam ullamcorper vehicula leo. Mauris mattis egestas hendrerit. Sed vitae aliquet mauris. Morbi at erat sed mi mollis maximus at sit amet enim. Sed quis libero eu mauris eleifend accumsan vitae semper turpis. Vestibulum nisl ipsum, ullamcorper euismod ultrices nec, tempor sit amet urna. Pellentesque bibendum a mi commodo consectetur. Aliquam nec est tellus.</p>' } %}</p>
</div>
