<h1>Message styles</h1>

<div class="preview-inner-container">
  <h3>Standard info message</h3>
  <p>{% include '@status-message' with { 'modifier': 'message--info' } %}</p>
</div>

<div class="preview-inner-container">
  <h3>Standard error message</h3>
  <p>{% include '@status-message' with { 'modifier': 'message--error' } %}</p>
</div>

<div class="preview-inner-container">
  <h3>Standard success message</h3>
  <p>{% include '@status-message' with { 'modifier': 'message--success' } %}</p>
</div>

<div class="preview-inner-container">
  <h3>Standard warning message</h3>
  <p>{% include '@status-message' with { 'modifier': 'message--warning' } %}</p>
</div>
