<div class="form-item">
    <label for="textfield">{{ label|default('Textfield') }} <span class="label-optional">({{ label_optional|default('Optioneel') }})</span></label>
    <input type="text" name="textfield" id="textfield" placeholder="{{ placeholder|default('Placeholder tekst') }}" />
    <div class="description">{{ description|default('Dit is een leuke beschrijving bij het veld.') }}</div>
</div>
