<div class="form-item">
    <label for="textfield">{{ label }} <span class="label-optional">({{ label_optional }})</span></label>
    <input type="text" name="textfield" id="textfield" placeholder="{{ placeholder }}" />
    <div class="description">{{ description }}</div>
</div>
