<div class="row">
  <div class="col-desktop-7">
    {% include '@h1' with { 'h1_text': 'Reserveer Balkonzaal - CityRoom'} %}
  </div>
</div>

<div class="row">
  <div class="col-desktop-3">
    {% include '@form-steps' with {
      'step1_title': 'Beschrijf uw activiteit',
      'step2_title': 'Plan uw activiteit',
      'step3_title': 'Vul uw contactgegevens aan',
      'step4_title': 'Vul uw facturatiegegevens in',
      'step5_title': 'Vragen of opmerkingen'
    } %}
  </div>
  <div class="col-desktop-9">
    <fieldset class="form-item">
      <legend>
        1. Beschrijf uw activiteit
      </legend>

      {% include '@textfield'
        with {
          'label': 'Naam van de activiteit',
          'placeholder': '',
          'description': 'Geef de naam van uw activiteit op.',
          "field_error": 'Gelieve een correcte naam voor uw activiteit in te vullen.',
          "field_description": 'A.d.h.v. de naam van uw activiteit kunnen we u beter identificeren.'
        }
      %}

      {% include '@textarea'
        with {
          'label': 'Omschrijf kort uw activiteit en het doel ervan',
          'placeholder': '',
          'description': 'Omschrijf kort uw activiteit en het doel ervan.',
          "field_error": 'Gelieve uw activiteit kort te beschrijven.',
          "field_description": 'Een korte eenvoudige beschrijving van uw activiteit.'
        }
      %}

      <fieldset class="form-item">
        <legend>
          2. Is dit een activiteit met winstoogmerk?
        </legend>

        {% include '@field-description'
          with {
            "field_description": 'Met winstoogmerk = de aanvrager van de zaal streeft ernaar om winst te maken, dit wil zeggen: de opbrengst van de activiteit overstijgt de kosten die eraan verbonden zijn. Het positieve saldo gaat niet louter naar een goed doel
    '
          }
        %}

      </fieldset>

    </fieldset>

    {% include '@form-actions--default' %}

  </div>
</div>
